<?xml version="1.0"?>
<robot name="sensor_hokuyo" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_gazebo.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_properties.urdf.xacro"/>
  
  <xacro:property name="kinect_cam_py" value="-0.0125"/>
  <!-- Parameterised in part by the values in turtlebot_properties.urdf.xacro -->
  <xacro:macro name="sensor_hokuyo" params="parent">

<material name="Grey">
 <color rgba="0.3 0.3 0.3 1"/>
</material>

  <joint name="laser_joint" type="fixed">
      <origin xyz="0.08 0 0.415" rpy="0 0 0" />
      <parent link="${parent}"/>
      <child link="laser_mount_link" />
    </joint>

   <link name="laser_mount_link">
    <visual>
      <geometry>
	<box size ="0.05 0.05 0.04" />
      </geometry>
      <material name="Grey" />
    </visual>
  </link>

  <joint name="laser_mount_joint" type="fixed">
    <origin xyz="0 0 0.03" rpy="0 0 0" />
    <parent link="laser_mount_link" />
    <child link="base_laser_link" />
  </joint>

  <link name="base_laser_link">
  <visual>
      <geometry>
	<cylinder length="0.03" radius="0.017"/> 
      </geometry>
      <material name="Grey" />
    </visual>
  </link>


  </xacro:macro>
</robot>
